#cv {
  @media (max-width: 600px) {
    .parallax-container {
      height: 150px;
      &:first-child {
        height: 400px;
      }
    }
  }

  .parallax-container {
    height: 300px;
    color: white;
    a {
      color: white;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  section {
    & > h4 {
      text-transform: uppercase;
    }
    h2 {
      @extend .center-align;
    }
    article {
      ul li {
        text-align: justify;
        margin-bottom: 5px;
      }
      strong {
        font-weight: bold;
      }
    }
    .me {
      @extend .center-align;
      img {
        @extend .circle, .white;
        border: 1px solid #004d40;
      }
    }
    .personal-info {
      @extend .teal-text, .text-lighten-5, .center-align;
    }
    ul.social {
      @extend .valign;
      li {
        display: inline-block;
        margin-left: 25px;
        border: 1px solid transparent;
        &:first-child {
          margin: 0px;
        }
        &:hover {
          border: 1px solid white;
          // @include border-radius(10%);
        }
        img {
          width: 60px;
        }
      }
    }
  }
}
