nav#language {
  background: none;
  li {
    span {
      color: black;
      margin: 0px 5px;
      padding-bottom: 5px;
      cursor: pointer;

      &:hover {
        border-bottom: 1px solid black;
      }
    }

    &[selected] span {
      border-bottom: 1px solid black;
    }
  }
}
