<template lang="jade">
  #app
    header
      navigation
      lang-switcher
    router-view
</template>

<script>
  import "src/scss/styles.scss"
  import "materialize-css/bin/materialize.js"
  import store from "store/store.js"
  import LangSwitcher from "components/langswitcher/lang-switcher.vue"
  import Navigation from "components/navigation/navigation.vue"

  export default {
    name: "app",
    store,
    components: {
      LangSwitcher,
      Navigation
    }
  }
</script>
