<template lang="jade">
  div#cv
    .parallax-container.valign-wrapper
      section.container.valign
        .row
          .me.col.s12.m4.l4
            img(src="./assets/avatar.png")
          .personal-info.col.s12.m8.l5
            h4 {{ "cv.personal.name" | trans }}
            h4 {{ "cv.personal.position" | trans }}
      .parallax
        img(src="./assets/background.gif")

    section.container
      .row
        .col.s12.m4.l4
          article.icon-block.center-align
            h2
              i.material-icons build
            h4 {{ "cv.sections.skills" | trans }}
            template(v-for="skill in skills")
              p
                strong {{ skill.category }}
              p {{ skill.items }}
        .col.s12.m4.l4
          article.icon-block.center-align
            h2
              i.material-icons school
            h4 {{ "cv.sections.formations" | trans }}
            template(v-for="formation in formations")
              p
                strong {{formation.what}}
              p {{formation.where}}
        .col.s12.m4.l4
          article.icon-block.center-align
            h2
              i.material-icons language
            h4 {{ "cv.sections.languages" | trans }}
            template(v-for="language in languages")
              p
                strong {{language.name}}
              p {{language.desc}}

    .parallax-container.valign-wrapper
      section.container.center-align
        ul.social
          li
            a(title="{{ 'cv.sources.cv' | trans }}", href="cv.pdf")
              img(src="./assets/source-cv.png")
          li
            a(title="{{ 'cv.sources.bitbucket' | trans }}", href="https://bitbucket.org/javierLinan")
              img(src="./assets/source-bitbucket.png")
          li
            a(title="{{ 'cv.sources.linkedin' | trans }}", href="https://www.linkedin.com/in/jlinanmanzaneda/en")
              img(src="./assets/source-linkedin.png")
      .parallax
        img(src="./assets/background.gif")

    section.container.icon-block
      h2
        i.material-icons work
      h4.center-align {{ "cv.sections.jobs" | trans }}
      .row
        article(v-for="job in jobs", class="col s12 m6 l6")
          header
            h5
              strong {{ job.company }}
            h6
              span(v-if="job.contract") {{ job.contract }}
            h6
              i {{ job.position }}
            h6
              span(v-if="duration")
                strong {{ job.period }} {{ job.duration }}
              span(v-else)
                strong {{ job.period }}

              span &nbsp;- {{ job.place }}
          ul
            li(v-for="task in job.tasks") {{ task }}
          footer
            span
              strong {{ job.tecs }}

    .divider.container

    section.container.icon-block
      h2
        i.material-icons weekend
      h4.center-align {{ "cv.sections.divers" | trans }}
      ul
        li(v-for="diver in divers") {{ diver }}
      br
      br

    .parallax-container.valign-wrapper
      footer.container.center-align
        h5.valign
          span
            a(href="mailto:javier.linmanzaneda@gmail.com", title="José Javier Liñán Manzaneda") javier.linmanzaneda@gmail.com
          span &nbsp|&nbsp;
          span
            a(href="https://bitbucket.org/javierLinan/portfolio-revisited", title="Bitbucket - Portfolio revisited") Code du cet website
      .parallax
        img(src="./assets/background.gif")
</template>

<script>
  import locales from "assets/i18n.yml"
  import { currentLang } from "store/getters.js"

  export default {
    name: "cv",
    ready () {
      $(".parallax", this.$el).parallax()
    },
    vuex: {
      getters: {
        currentLang
      }
    },
    computed: {
      skills () {
        return locales[this.currentLang]["cv"]["skills"]
      },
      jobs () {
        return locales[this.currentLang]["cv"]["jobs"]
      },
      divers () {
        return locales[this.currentLang]["cv"]["divers"]
      },
      formations () {
        return locales[this.currentLang]["cv"]["formations"]
      },
      languages () {
        return locales[this.currentLang]["cv"]["languages"]
      }
    }
  }
</script>
