<template lang="jade">
  nav#menu(role="navigation")
    div.nav-wrapper.container
      a(href="#!/", class="brand-logo") {{ "navigation.home" | trans }}
      ul.hide-on-med-and-down.right
        li
          a(href="#!/examples") {{ "navigation.examples" | trans }}
      ul#nav-mobile.side-nav
        li
          a(href="#!/examples") {{ "navigation.examples" | trans }}
      a(href="#", data-activates="nav-mobile", class="button-collapse")
        i.material-icons menu
</template>

<script>
  export default {
    name: "navigation"
  }
</script>
