<template lang="jade">
  nav#language(role="language")
    div.nav-wrapper.container
      ul(v-if="switchers.length > 1")
        li(
          v-for = "switch in switchers",
          class = "lang",
          selected = "{{switch.selected}}"
          data-lang = "{{switch.lang}}"
          v-on:click = "changeLang"
        )
          span {{ "langswitcher." + switch.lang | trans }}
</template>

<script>
  import { setAppState } from "store/actions.js"

  export default {
    name: "langSwitcher",
    vuex: {
      actions: {
        changeLang (store, event) {
          setAppState(store, "currentLang", event.currentTarget.getAttribute("data-lang"))
        }
      },
      getters: {
        switchers (state) {
          const currentLang = state.appState.currentLang

          return state.appState.allowedLangs.map((allowedLang) => {
            return {
              lang: allowedLang,
              selected: allowedLang === currentLang
            }
          })
        }
      }
    }
  }
</script>
